<div class="container">
    <div class="header__exp">
        <h2>EXPERIENCIA LABORAL:</h2>
        <a href="../nuevaexp" *ngIf="isLogged"><i class="fa-regular fa-square-plus"></i></a>
    </div>

    <div class="card" *ngFor="let experiencia of experiencia">
        <div class="card-header">
            <h4> {{experiencia.nombreE}} </h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{experiencia.descripcionE}}</p>
            </blockquote>
        </div>
        <ul class="ul__card__exp display">
            <li><a href="/editarexp/{{experiencia.id}}" *ngIf="isLogged"><i class="fa-solid fa-pen"></i></a></li>
            <li><a href="" *ngIf="isLogged" (click)="delete(experiencia.id)"><i class="fa-solid fa-trash"></i></a></li>
        </ul>
    </div>
</div>