<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-body-tertiary ">

    <a class="navbar-brand" href="#"><img src="./../../../assets/img/Logo arg-programa.png" alt="Logo arg-programa"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-brands fa-discord"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>

    <form class="form-inline">
      <button class="btn btn-light" type="button">Loguin</button>
    </form>

  </nav>

  <img src="./../../../assets/img/banner2.png" style="height: 200px; width: 100%;" alt="banner">
</header>



<!-- <img src="./../../../assets/img/profile-pic.png" alt="Foto perfil" class="fotoPerfil"> -->

