<div class="container">
    <div class="header__exp">
        <h2>EDUCACION:</h2>
        <a href="#"><i class="fa-regular fa-square-plus"></i></a>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>CONTADOR PUBLICO</h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Soy Contador Publico recibido en la UNC (Universidad Nacional de Córdoba) me recibí en el año 2011.</p>
            </blockquote>
        </div>
        <ul class="ul__card__exp display">
            <li><a href="#"><i class="fa-solid fa-pen"></i></a> </li>
            <li><a href="#"><i class="fa-solid fa-trash"></i></a></li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>G-TEC (Gestión y vinculación Tecnológica)</h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Posgrado realizado en la UNSL (Universidad Nacional de San Luis), me falta presentar la tesis para poder recibirme.</p>
            </blockquote>
        </div>
        <ul class="ul__card__exp display">
            <li><a href="#"><i class="fa-solid fa-pen"></i></a> </li>
            <li><a href="#"><i class="fa-solid fa-trash"></i></a></li>
        </ul>
    </div>
</div>