<div class="container">
    <div class="header__exp">
        <h2>EDUCACION:</h2>
        <a href="#"><i class="fa-regular fa-square-plus"></i></a>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Inspector de Rentas</h4>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Me desempeño como Inspector de Rentas en la Provincia de San Luis, mis tareas principlales es hacer
                    un control de los impuestos declarados por los contribuyentes y contrastarlos contra la
                    documentacion que los mismo deben llevar de forma obligatoria, ver que se apliquen bien las
                    alicuotas, respecto a la legislacion vigente</p>
                <p>Desde 05-2013 al presente</p>
                <h5>D.P.I.P. SAN LUIS</h5>
            </blockquote>
        </div>
        <ul class="ul__card__exp display">
            <li><a href="#"><i class="fa-solid fa-trash"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-pen"></i></a> </li>
        </ul>
    </div>
</div>