<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary bg-body-tertiary justify-content-between">
    <div class="navbar-brand">
      <img [src]="miPorfolio.LogoArgPrograma">
    </div>
    <div class="d-flex nav_funcional">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-discord font"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-facebook font"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-linkedin font"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-github font"></i></a>
          </li>
        </ul>
      </div>
      <form class="form-inline btn_loguin">
        <button class="btn btn-light" type="button" (click)="login()">Login</button>
      </form>
    </div>
  </nav>
  <div class="banner">
  </div>

</header>



<!-- <img src="./../../../assets/img/profile-pic.png" alt="Foto perfil" class="fotoPerfil"> -->